
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

        aside, section {
        width: 100%;
        padding: 10px;
    }
}

@font-face {
    font-family: "Raleway" ;
    src: url(../fonts/Raleway-VariableFont_wght.woff) format('woff'),
         url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

h1,h2 {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width:1160px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

main {
    display: flex;
}

aside,section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}


header {
    background-color: #17abb3;
    display: flex;        
    align-items: center;  
}

header a img.photo-profil:hover {
    transform: scale(1.05); /* zoom léger au survol */
}

header a img.photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ffffff ;
    object-fit: cover;
    margin: 40px 100px 40px 100px;
    cursor: pointer;
    transition: transform 0.3s ease;/* animation douce */
}

.header-text {
    display: flex;
    flex-direction: column; /* empile h1, h2 et address verticalement */
    color: #ffffff;
    margin-left: 150px;

}

.header-text h1, 
.header-text h2 {
   margin: 0; /* supprime la marge par défaut */
   }

.header-text h2 {
   margin-top: 5px;  /* ajoute un petit espace si nécessaire */
}

.header-text h1{
    margin-left: 20px;
}

.header-text address a {
    text-decoration: none;
    color: #fff; /* par exemple pour rester visible sur le header */
}

.header-text address {
    display: flex;
    flex-direction: column; /* deux lignes verticales */
    gap: 10px;               /* petit espace entre ligne1 et ligne2 */
    margin-top: 5px;        /* espace sous le h2 */
    padding-left: 70px;
}

.header-text address .ligne1,
.header-text address .ligne2 {
    display: flex;          /* éléments sur la même ligne */
    gap: 50px;         /* espace entre chaque item sur la ligne */
}


