
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

        aside, section {
        width: 100%;
        padding: 10px;
    }
}

@font-face {
    font-family: "Raleway" ;
    src: url(../fonts/Raleway-VariableFont_wght.woff) format('woff'),
         url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

h1,h2 {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width:1160px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

main {
    display: flex;
}

aside,section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}


header {
    background-color: #17abb3;
    display: flex;        
    align-items: center;  
}

header a img.photo-profil:hover {
    transform: scale(1.05); /* zoom léger au survol */
}

header a img.photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ffffff ;
    object-fit: cover;
    margin: 40px 100px 40px 100px;
    cursor: pointer;
    transition: transform 0.3s ease;/* animation douce */
}

.header-text {
    display: flex;
    flex-direction: column; 
    color: #ffffff;
    margin-left: 150px;

}

.header-text h1, .header-text h2 {
    margin: 0;
}

.header-text h1 {
    margin-left: 20px;
}

.header-text h2 {
    margin-top: 5px;
}


.header-text address a {
    text-decoration: none;
    color: #fff; 
}

.header-text address {
    display: flex;
    flex-direction: column; /* deux lignes verticales */
    gap: 10px;               /* petit espace entre ligne1 et ligne2 */
    margin-top: 25px;        
    padding-left: 60px;
}

.header-text address .ligne1,
.header-text address .ligne2 {
    display: flex;
    align-items: center;
}

.header-text address .ligne1 { gap: 100px; }
.header-text address .ligne2 { gap: 54px; }




.header-text address .element {
    display: flex;
    align-items: center;
    gap: 5px;                /* espace entre icône et texte */
}